Source: cooja-realsim
Section: net
Priority: extra
Maintainer: Moritz 'Morty' Strübe <morty@cs.fau.de>
Build-Depends:
 debhelper (>= 7.0.50~),
 default-jdk,
 ant,
 cooja,
Build-Conflicts:
Standards-Version: 3.9.1.0
Homepage: http://i4git.informatik.uni-erlangen.de/contiki_projects.git/shortlog/refs/heads/realsim
Vcs-Git: git://i4git.informatik.uni-erlangen.de/contiki_projects.git
Vcs-Browser: http://i4git.informatik.uni-erlangen.de/contiki_projects.git/shortlog/refs/heads/realsim

Package: cooja-realsim
Architecture: all
Depends:
 cooja,
 ${misc:Depends},	
Description: Plugin for the Cooja Simulator
 This plugin allows to add, remove nodes at runtime, as well as change the connection settings in the DGRM (Directed Graph Radio Medium)


